fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
google-genai
PyPDF2
python-multipart
langchain-google-genai
langchain-text-splitters
langchain-community
gunicorn